.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.bg-zt-gray,
.bg-zt-gray:focus {
    background-color: #F7F7F7 !important;
}

.text-baslik-gray {
    color: #5B6770 !important;
}

.text-zt {
    color: #292929 !important;
}

.arrow-devamını-gor {
    border: 2px solid #292929;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.pb-0 {
    padding-bottom: 0;
}

.top-slider-arrow {
    top: 820px !important;
}
.logo-svg {
    --_g-logo-fill-color: #ffffff, #000000;
    display: block;
}

.gIABOZ {
    opacity: 0.6;
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, width 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, padding-bottom 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
    will-change: width, transform, padding-bottom;
    width: 100%!important;
    transform: translate3d(0px, 150px, 0px);
    height: auto;
    padding-bottom: 24px;
}
.iZTpIL {
    opacity: 1;
    transition: opacity 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, width 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 0.8s cubic-bezier(0.5, 0, 0, 1) 0s, padding-bottom 0.8s cubic-bezier(0.5, 0, 0, 1) 0s;
    width: 143px!important;
    height: 0px;
    padding-bottom: 0px;
    will-change: width, transform, padding-bottom;
    transform: translate3d(0px, -24px, 0px);
}
@media screen and (min-width: 1024px) {
    .iZTpIL {
        margin: 0px auto;
    }
}
@media screen and (min-width: 1024px) {
    .gIABOZ {
        margin: 0px auto;
    }
}